body{
	margin: 0;
	padding: 0;
	background-color: #242423;
	color: #E8EDDF;
	font-size: 1.5rem;
	font-family: 'Raleway';
	text-align: center;
	
}

ul{
	list-style: none;
}

.header{
	color: #F5CB5C;
	font-size: 3rem;

}

.header h1{
	margin: 0.3em ;
	padding: 0;
}
.btn{
	border: none;
	color: #E8EDDF;
	background-color: #333533;
	
	font-size: 1.4rem;
	padding: 1em;
	cursor: pointer;
	margin: 0 0.1em;
	color: #F5CB5C;
	text-transform: uppercase;
	border-radius: 14px;
	border:  1px solid white;

}

.btn:hover{
	color: #F5CB5C;
	background-color: #242423;

}

#input{
	padding: 0.5em;
	 font-size: 2rem;
	 margin: 0.6em;
}

